/*
This file contains the CSS used to style the elements and forms within the HTML of the 
staff account creation page, which is used by admins.

Edits: (04/05/2024)
Gavin T. Anderson
KJ Vaughn
*/

/* Styling for the main container of the staff account creation form */
#staff-account-form {
    width: min(70%, 460px); /* Sets width based on minimum of 70% or 460px */
    display: flex; /* Sets display to flex */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 30rem; /* Sets height to 30rem */
    margin-top: 4rem; /* Adds margin at the top */
    margin-left: auto; /* Aligns to the left */
    margin-right: auto; /* Aligns to the right */
    margin-bottom: 6rem; /* Adds margin at the bottom */
    background-color: var(--darkblue); /* Sets background color using a CSS variable */
    border-radius: 25px; /* Adjust the border-radius for rounded corners */
    box-shadow: 0 0 50px rgba(0, 0, 0, .3); /* Adds a shadow effect */
    z-index: 1; /* Sets the stacking order */
}


/* Styling for heading level 3 elements inside the staff account creation form */
#staff-account-form h3 {
    color: white; /* Sets color of heading text to white */
    margin: 0; /* Resets margin */
    text-align: left !important; /* Aligns text to the left */
}


/* Styling for input fields inside the staff account creation form */
#staff-account-form input {
    height: 30px; /* Sets height of input fields */
    color: black; /* Sets color of text to black */
    font-size: 1rem; /* Sets font size to 1rem */
    margin-bottom: 2.8rem; /* Adds margin at the bottom */
    border-radius: 10px; /* Adds rounded corners to the border */
    width: 100%; /* Sets width to 100% */
    border: none; /* Removes border */
}


/* Styling for buttons inside the staff account creation form */
#staff-account-form button {
    margin-top: 80px; /* Adds margin at the top */
}


/* Styling for the content container inside the staff account creation form */
#staff-account-form-content {
    margin-left: 10%; /* Adds margin at the left */
    margin-right: 10%; /* Adds margin at the right */
    text-align: center; /* Centers text */
}
