/*
This file contains the CSS used to style the elements and forms within the HTML of the 
staff permission modification page, which is used by admins. 


KJ Vaughn
*/


.actionSelect, .userSelect, .permissionSelect {
    text-align:center;
}

#permissionSelect {
    margin-bottom:1rem;
}

#userUpdate {
    margin-left:auto 0;
    text-align:center;
    margin-right:auto 0;
}

#permissions-table {
    border-collapse: separate;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 90%;
    height: fit-content;
}

#permissions-table th {
    border-left: 4px solid var(--green);
    background-color:var(--darkblue);
    color:white;
    padding-left: 1rem;
    padding-right: 1rem;   
    height: 6rem;

    font-size: 1vw;
}

#permissions-table td {
    border-bottom: 4px solid var(--green);
    border-left: 4px solid var(--green);
    color:var(--darkblue);
    padding-left: 1rem;
    padding-right: 1rem;
    height: 4rem; 

    font-size: 1vw;
    text-align: center;
}

#permissions-table th:first-of-type {
  border-top-left-radius: 30px;
  border-left: none !important;
}

#permissions-table th:last-of-type {
  border-top-right-radius: 30px;
}

#permissions-table td:last-of-type {
  border-right: 4px solid var(--green);
}

#permissions-table tr:not(:first-child):nth-child(odd) {
  background-color: #eee;
}

.permsButton {
    background-color:var(--green);
    border:0;
    border-radius:15px;
    width:15rem;
    height:5rem;
    color:white;
    font-size:1rem;
    position: absolute;
    right: 20px;
    margin-top:1rem;
    cursor:pointer;
    border-collapse: collapse;
}

.form-backdrop {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 100; 
  }

  .form-modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
    z-index: 101; 
  }

  #userUpdate label {
    font-weight:800;
  }

  #userUpdate select {
    border:2px solid var(--green);
    border-radius:20px;
    height:2rem;
    margin-bottom:0.5rem;

  }

  #doneButton {
    margin-right:20px;
    border:2px solid var(--green);
    border-radius:10px;
    cursor:pointer
  }

  #submitButton {
    height: 1.5rem;
    width:4rem;
    border-radius:10px;
  }