/*
Stylesheet for the website, including font imports and custom CSS variables.
LAST EDITED 04/05/2024 Gavin T. Anderson
*/

/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

/* Setting custom CSS variables */
:root {
  --blue: #59bab6;
  --green: #98ca41;
  --darkblue: #253251;
}

/* Global styling for the body */
body {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif; /* Default font family */
  font-size: 14pt; /* Default font size */
  position: relative;
  margin-bottom: 140px; /* Bottom margin to accommodate footer */
}

html, body {
  height: 100%;
  margin: 0;
}

/* Styling for content containers */
.content {
  width: 100%;
  display: flex;
  flex: 1;
}

.content-margin {
  margin-top: 130px; /* Margin to separate content from top navigation */
}

/* Styling for demographic/login buttons */
.demographic-button {
  position: relative;
  bottom: 20px;
  background-color: var(--green);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: default;
  font-size: 1em;
  font-family: 'Lato', sans-serif;

  transition: filter .1s;
}

.demographic-button:hover {
  filter: brightness(1.1);
}

/* Styling for pop-up modals */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  width: min(60%, 32rem);
  background-color: white;
  border: 3px solid var(--green);
  border-radius: 20px;
  position: absolute;
  color: black;
  text-align: center;
  padding: 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, .3);
}

.popup-content button {
  position: relative;
  background-color: var(--green);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: default;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  margin-left: 10px;
  margin-right: 10px;

  transition: filter .1s;
}

.popup-content button:hover {
  filter: brightness(1.1);
}

/* Styling for top rectangle paragraph */
#topRectangle p, #_topRectangle p {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* Global styling for anchor and button elements */
a, button {
  font-family: 'Lato', sans-serif;
}

/* Styling for manage and delete buttons */
.management-button, .delete-button {
  color: var(--darkblue);
 
  height: 3.5rem;
  border-radius: 20px;
  border-color: var(--green);
  border: 3px solid var(--green);
  margin-right: .4rem;
  margin-top: .4rem;
  float: left;

  font-size: min(1.2vw, 1rem);
}

.management-button:hover {
  background-color: #ddd;
}

.delete-button {
  background-color: var(--green);
  color: black;
}

.management-header {
  width: 100%;
  height: 100%;

  display: flex;
}

.management-header-text {
  flex-grow: 1;
  overflow: hidden;
}

.management-header-text h2 {
  font-size: min(2.6vw, 1.5rem);
}

.management-header-text h4 {
  font-size: min(2vw, 1rem);
}

.management-button-header {
  height: 100%;
  padding-left: .1rem;
  padding-right: .1rem;

  flex-grow: 1;


  text-align: center;

  overflow: hidden;
}

.management-header-button {
  max-width: 18rem;
  height: 1.5rem;
  background-color: var(--green); /* Sets background color using a CSS variable */
  border-radius: 40px; /* Adds rounded corners to the border */
  border: 3px solid var(--green); /* Sets border */
  font-size: min(1.4vw, 1rem); /* Sets font size to 12pt */

  margin: auto;

  margin-top: 1rem;
  margin-bottom: 0;
  cursor: pointer;

  color: black;
  display: block;

  text-align: center;
}

.single {
  height: 3rem;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.delete-popup-content label {
  text-align: center;
}

#subm-select-cluster{
  border: 2px solid var(--green);
  border-radius:10px;
}