@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

/* imports fonts used by the website from google fonts*/

:root {
  --blue: #59bab6;
  --green: #98ca41;
  --darkblue: #253251;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  
  font-size: 14pt; /* default font size */
  position: relative;
  margin-bottom: 140px;
}

html, body {
  height: 100%;
  margin: 0;
}

.content {
  width: 100%;
  display: flex;
  flex: 1;
}

.content-margin {
  margin-top: 130px;
}

.demographic-button { /* green buttons on demographic/login pages */
  position: relative;
  bottom: 20px;

  background-color: var(--green);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;

  text-decoration: none;
  cursor: pointer;

  font-size: 1em;
  font-family: 'Lato', sans-serif;
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1000;
}

.popup-content{
  width: min(60%, 32rem);
  background-color:white;
  border:3px solid var(--green);
  border-radius:20px;
  position:absolute;

  color:black;

  text-align: center;

  padding: 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0,.3);
}

.popup-content button {
  position: relative;

  background-color: var(--green);
  
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  
  text-decoration: none;
  cursor: pointer;

  font-size: 1em;
  font-family: 'Lato', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

#cluster-button {

}

.management-button {
  color: var(--darkblue);
  width: max(5rem, 12vw);
  height: 4em;
  border-radius: 20px;
  border-color:#98ca41;
  border:3px solid var(--green);   
  margin-top: 30%;
  margin-bottom: 30%; 

}

.management-button:hover {
  background-color: #98ca41;
}

#topRectangle p, #_topRectangle p {
  width: 70%;
  
  margin-left: auto;
  margin-right: auto;
}