/*LAST EDITED 04/05/2024 Gavin T. Anderson */

/*
CSS styles for the field name
*/
#fName {
    color: var(--darkblue); /* Set text color */
    font-size: 4rem;        /* Set font size */
    text-align: left;       /* Align text to the left */
    margin-bottom: 2%;      /* Set bottom margin */
}

/*
CSS styles for the field description
*/
#fDesc {
    color: var(--darkblue); /* Set text color */
    font-size: 1.25rem;     /* Set font size */
    width: 80%;             /* Set width */
    text-align: left;       /* Align text to the left */
}

/*
CSS styles for the top left section
*/
#topLeft {
    display: inline-table;  /* Display as inline table */
    float: left;            /* Float to the left */
    max-width: 80%;         /* Set maximum width */
}

/*
CSS styles for the bottom middle section
*/
#bottomMiddle {
    margin-top: 5%;         /* Set top margin */
    margin-bottom: 8%;      /* Set bottom margin */
    margin-left: 15%;       /* Set left margin */
    margin-right: 15%;      /* Set right margin */
}

/*
CSS styles for the row
*/
#row {
    display: block;         /* Display as block */
    overflow: auto;         /* Enable overflow auto */
    min-height: 200px;      /* Set minimum height */
    margin-left: 15%;       /* Set left margin */
    margin-right: 15%;      /* Set right margin */
    margin-bottom: 20px;    /* Set bottom margin */
}

/*
CSS styles for the view button
*/
#view-button {
    display: inline-table;  /* Display as inline table */
    float: right;           /* Float to the right */
    height: 24px;           /* Set height */
    background-color: var(--green); /* Set background color */
    color: black;           /* Set text color */
    padding: 10px 20px;     /* Set padding */
    border: none;           /* Remove border */
    border-radius: 5px;     /* Set border radius */
    text-decoration: none;  /* Remove text decoration */
    cursor: default;        /* Set cursor style */

    transition: filter .1s;
}

#view-button:hover {
    filter: brightness(1.1);
  }

/*
CSS styles for the field statistic
*/
.field-statistic {
    margin-right: 6%;       /* Set right margin */
    margin-left: 6%;        /* Set left margin */
    margin-bottom: 4%;      /* Set bottom margin */
    display: inline-table;  /* Display as inline table */
    float: left;            /* Float to the left */
    text-align: left;       /* Align text to the left */
}

/*
CSS styles for the field statistic heading
*/
.field-statistic h1 {
    color: var(--green);         /* Set text color */
    font-size: 2.4rem;      /* Set font size */
    margin-top: 12px;       /* Set top margin */
}

/*
CSS styles for the field statistic subheading
*/
.field-statistic h2 {
    font-size: 1.6rem;      /* Set font size */
    margin: 0px;            /* Reset margin */
}

/*
CSS styles for the subfield content
*/
#subfield-content {
    width: 100%;            /* Set width */
    padding-top: 5%;        /* Set top padding */
}
