#loading-animation {
    border: 16px solid lightgray;
    width: 120px;
    height: 120px;
    margin-left:auto;
	margin-right:auto;
    margin-top:3rem;
    
    border-top: 16px solid var(--green);
    border-radius: 50%;
    
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg)
    }
    100% {
      transform: rotate(720deg)
    }
  }