.overlay {
    background-color: var(--darkblue);
    color: white;
    height: 110px;
    position: fixed;
    width: 100%;
    z-index: 9995; /* Higher z-index than the underlying rectangle */
    top: 0;
    opacity:1.0;
  }
