/*
  CSS styles for the StaffJobListingPage component.

  #fName:
  - Styles for the name of the field.

  #fDesc:
  - Styles for the description of the field.

  #topLeft:
  - Styles for the top-left section of the component.

  #bottomMiddle:
  - Styles for the bottom-middle section of the component.

  #row:
  - Styles for the row layout.

  #jobPostings:
  - Styles for the job postings button.

  #view-button:
  - Styles for the view button.

  .field-statistic:
  - Styles for the field statistics section.

  .field-statistic h1:
  - Styles for the heading of the field statistics.

  .field-statistic h2:
  - Styles for the subheading of the field statistics.


  LAST EDITED 04/05/2024 Gavin T. Anderson
*/

#fName {
    color: var(--darkblue);
    font-size: 4rem;    
    text-align: left; 
    margin-bottom: 2%;
}

#fDesc {
    color: var(--darkblue);
    font-size: 1.25rem;  
    width: 80%;
    text-align: left;
}

#topLeft {
    display: inline-table;
    float: left;
    max-width: 80%;
}

#bottomMiddle {
    margin-top: 5%;
    margin-bottom: 8%;
    margin-left: 15%;
    margin-right: 15%;
}

#row {
    display: block;
    overflow: auto;
    min-height: 200px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
}

.field-statistic {
    margin-right: 6%;
    margin-left: 6%;
    margin-bottom: 4%;
    display: inline-table;
    float: left;
    text-align: left;
}

.field-statistic h1 {
    color: var(--green);
    font-size: 2.4rem;
    margin-top: 12px;
}

.field-statistic h2 {
    font-size: 1.6rem;
    margin: 0px;
}
