/*
This page contains all the CSS for the LoginPage, which is accessed by clicking on any of the User Icons in the 
top right corner of any general user view pages.  This includes CSS for any popup content that may be triggered from the login page. 
*/

#login-form {
    width: min(70%, 460px);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 30rem;

    margin-top: 4rem;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 6rem;

    background-color: var(--darkblue);
    border-radius: 25px; /* Adjust the border-radius for rounded corners */
    box-shadow: 0 0 50px rgba(0, 0, 0,.3);
    z-index: 1;
}

#login-form form {
    text-align: center;
    width:50%;
}

#login-form h3 {
    color:white;
    margin: 0;
    text-align: left !important;
}

.field {
    height: 30px;
    color:black;
    font-size: 1rem;
    margin-bottom:2.8rem;
    border-radius:10px;
    width:100%;
    border: none;
}

.field::placeholder {
    height:1.5rem;
    color:gray;
    font-size: 1rem;
    bottom:0;
}

#login-form p {
    color:white;
    font-size: 1rem;
    margin-top:5%;
    margin-bottom:20%;
    cursor: pointer;
}

#login-form p:hover {
    color:var(--green);
}

.pass-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Ensure popup is above other content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pass-popup-content {
    width: min(40%, 380px);
    height: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10000;
    
}

.pass-popup h3 {
    color: black !important;
}

.pass-popup input {
    height: 30px;
    color:black;
    font-size: 1rem;

    border-radius:10px;
    width:100%;
    border: 1px solid var(--darkblue);
    margin-bottom:3rem;
    margin-top: 20px;
}

.pass-popup .demographic-button {
    text-align: center;
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.forgot-submit {
    background-color: var(--green);
    border-radius:20px;
    border: solid var (--green);
    height:30%;
}

#forgot-box {
    border: 3px solid var(--green);
}