/*
This page contains all the CSS for the LoginPage, which is accessed by clicking on any of the User Icons in the 
top right corner of any general user view pages.  This includes CSS for any popup content that may be triggered from the login page. 
LAST EDITED: 04/05/2024 Gavin T. Anderson
*/

/* Styling for the main login form container */
#login-form {
    width: min(70%, 460px); /* Sets width based on minimum of 70% or 460px */
    display: flex; /* Sets display to flex */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    height: 30rem; /* Sets height */
    margin-top: 4rem; /* Adds margin at the top */
    margin-left: auto; /* Aligns to the left */
    margin-right: auto; /* Aligns to the right */
    margin-bottom: 6rem; /* Adds margin at the bottom */
    background-color: var(--darkblue); /* Sets background color using a CSS variable */
    border-radius: 25px; /* Adjust the border-radius for rounded corners */
    box-shadow: 0 0 50px rgba(0, 0, 0,.3); /* Adds a shadow effect */
    z-index: 1; /* Sets the stacking order */
}


/* Styling for the form inside the login form container */
#login-form form {
    text-align: center; /* Centers text inside the form */
    width: 50%; /* Sets width of the form */
}


/* Styling for heading level 3 elements inside the login form container */
#login-form h3 {
    color: white; /* Sets color of heading text */
    margin: 0; /* Resets margin */
    text-align: left !important; /* Aligns text to the left */
}


/* Styling for input fields */
.field {
    height: 30px; /* Sets height of input fields */
    color: black; /* Sets color of text */
    font-size: 1rem; /* Sets font size */
    margin-bottom: 2.8rem; /* Adds margin at the bottom */
    border-radius: 10px; /* Adds rounded corners to the border */
    width: 100%; /* Sets width to 100% */
    border: none; /* Removes border */
}
/* Styling for paragraph elements inside the login form container */
#login-form p {
    color: white; /* Sets color of text */
    font-size: 1rem; /* Sets font size */
    margin-top: 5%; /* Adds margin at the top */
    margin-bottom: 20%; /* Adds margin at the bottom */
    cursor: pointer; /* Changes cursor on hover */

    transition: color .1s;
}


/* Styling for paragraph elements on hover inside the login form container */
#login-form p:hover {
    color: var(--green); /* Sets color on hover using a CSS variable */
}


/* Styling for the password popup container */
.pass-popup {
    position: fixed; /* Sets position to fixed */
    top: 0; /* Positions popup at the top */
    left: 0; /* Positions popup at the left */
    width: 100%; /* Sets width to 100% */
    height: 100%; /* Sets height to 100% */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Sets the stacking order */
    display: flex; /* Sets display to flex */
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}


/* Styling for the content inside the password popup container */
.pass-popup-content {
    width: min(40%, 380px); /* Sets width based on minimum of 40% or 380px */
    height: fit-content; /* Sets height based on content */
    background-color: white; /* Sets background color */
    padding: 20px; /* Adds padding */
    border-radius: 10px; /* Adds rounded corners to the border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adds a shadow effect */
    position: relative; /* Sets position to relative */
    z-index: 10000; /* Sets the stacking order */
}


/* Styling for heading level 3 elements inside the password popup container */
.pass-popup h3 {
    color: black !important; /* Sets color of heading text */
}


/* Styling for input fields inside the password popup container */
.pass-popup input {
    height: 30px; /* Sets height of input fields */
    color: black; /* Sets color of text */
    font-size: 1rem; /* Sets font size */
    border-radius: 10px; /* Adds rounded corners to the border */
    width: 100%; /* Sets width to 100% */
    border: 1px solid var(--darkblue); /* Sets border */
    margin-bottom: 3rem; /* Adds margin at the bottom */
    margin-top: 20px; /* Adds margin at the top */
}


/* Styling for the button inside the password popup container */
.pass-popup .demographic-button {
    text-align: center; /* Centers text */
    display: block; /* Displays as block element */
    margin-left: auto; /* Aligns to the left */
    margin-right: auto; /* Aligns to the right */
    margin-bottom: 10px; /* Adds margin at the bottom */
}
