/*
This file contains the CSS used to style the elements and forms within the HTML of the 
cluster management page, which is utilized by staff users.

Edits: (04/05/2024)
Gavin T. Anderson
KJ Vaughn
*/


/* Styling for the top rectangle */
#_topRectangle {
    background-color: var(--darkblue); /* Sets background color using a CSS variable */
    color: white; /* Sets color of text to white */
    text-align: center; /* Centers text */
    height: 110px; /* Sets height to 110px */
    position: fixed; /* Sets position to fixed */
    width: 100%; /* Sets width to 100% */
    z-index: 1000; /* Sets the stacking order */
    top: 0; /* Positions at the top */
}


/* Styling for heading level 2 elements inside the top rectangle */
#_topRectangle h2 {
    padding-top: 15px; /* Adds padding at the top */
}

/* Styling for the cancel button */
.cancelButton {
    border-radius: 40px; /* Adds rounded corners to the border */
    border-color: var(--green); /* Sets border color */
    border: 3px solid var(--green); /* Sets border */
    width: 100px; /* Sets width to 100px */
    height: 35px; /* Sets height to 35px */
    margin-right: 5%; /* Adds margin at the right */
    margin-bottom: 4%; /* Adds margin at the bottom */
    transition: background-color .1s;
}

.cancelButton:hover {
    background-color: #ddd;
}

/* Styling for heading level 4 elements within popup content */
.popup-content h4 {
    margin-left: 20%; /* Adds margin at the left */
    margin-bottom: 20%; /* Adds margin at the bottom */
    font-size: 20px; /* Sets font size to 20px */
}


/* Styling for the cluster name popup */
#clusterNamePop {
    margin-left: 20%; /* Adds margin at the left */
    border: 3px solid var(--green); /* Sets border */
    border-radius: 30px; /* Adds rounded corners to the border */
    height: 20%; /* Sets height to 20% */
}


/* Styling for the cluster image */
#imgN {
    margin-left: 20%; /* Adds margin at the left */
    width: 181px; /* Sets width to 181px */
}


/* Styling for the button row */
.button-row {
    display: flex; /* Sets display to flex */
    flex-flow: row nowrap; /* Sets flex direction to row and nowrap */
    justify-content: center; /* Centers content horizontally */
    align-content: center; /* Centers content vertically */
    width: 100%; /* Sets width to 100% */
    margin-top: 50px; /* Adds margin at the top */
    position: relative; /* Sets position to relative */
}


/* Styling for the cluster name input field */
#clusterName {
    border: 3px solid var(--green); /* Sets border */
    border-radius: 30px; /* Adds rounded corners to the border */
    width: 40%; /* Sets width to 40% */
    height: 20%; /* Sets height to 20% */
}


/* Styling for the image wrapper */
#imgWrapper {
    margin: 0; /* Resets margin */
    padding: 0; /* Resets padding */
}