/*
This file contains the CSS used to style the elements and forms within the HTML of the 
each subcluster within the subcluster management page, which is utilized by staff users.


KJ Vaughn
*/

.subcluster_m {
    width: 95%;
    height: auto;

    padding: 0;
    padding-bottom: 2rem;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;

    background-color: #D9D9D9;
    border: 6px solid var(--green);
	border-radius: 60px;
}

.subcluster_m h2 {
    margin: 2rem;
    margin-bottom: 0;
    font-size: 20px;
}

.addsc-container {
    background-color:white;
    border:3px solid var(--green);
    border-radius:25px;
    position:absolute;
    color:black;
    flex-flow:row wrap;
    justify-content:center;
    align-content:center;
    display:flex;
    height:320px;
    width:650px;
}

.newsc-left {
    display:flex;
    flex-flow:column;
    width:225px;
    margin-top:30px;
    padding-right:35px;
    padding-left:40px;
}

.newsc-right {
    display:flex;
    flex-flow:column;
    width:225px;
    padding-left:35px;
    margin-top:30px;
    padding-right:40px;
}


.label-addsc {
    margin-right:24px;
    font-size:16px;
    font-weight: bold;
    display:inline-flex;
    margin-top:10px;
}

.newsc-buttonrow {
    display:inline-flex;
    justify-content: center;
    margin-top:30px;
    flex-flow:row nowrap;
    justify-content:center;
    align-content:center;
    width:100%;
    position:relative;
    margin-bottom:20px;
}

#subm-cluster-button {
    width: fit-content;
    height: fit-content;

    background-color: var(--green);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;

    font-size: 14pt;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#subm-content {
    width: 100%;
    margin: 0;

}

.scmgmt_list {
    width: 90%;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 4rem;
    
    padding: 0;

    margin-left: auto;
    margin-right: auto;
}

.sc_editbar {
    width: 92%;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;

    display: inline-block;
}


#subclusterDescrip {
    height:43%;
    border:3px solid var(--green);
    border-radius:5px;
    
}

#growth-rate {
    border:3px solid var(--green);
    border-radius:30px;
}

#subclusterName {
    border:3px solid var(--green);
    border-radius:30px;
}

#subclusterSalary {
    border:3px solid var(--green);
    border-radius:30px;
}

#subclusterEducation {
    border:3px solid var(--green);
    border-radius:30px;
}

#select-cluster {
    border:3px solid var(--green);
    border-radius:30px;
}

.standardIn-popup {
    padding:10px 10px;
}

#growth-rate {
    padding:10px 10px;
}

#img {
    display:inline-flex;
    margin-right:auto;
}

#subm-select-cluster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}