/*
This file contains the CSS used to style the elements and forms within the HTML of the 
management of schools, which is utilized by staff users

Edits: (04/05/2024)
Gavin T. Anderson
KJ Vaughn
*/



/* Styling for each school pod */
#school_pod {
    width: 80%; /* Sets width to 80% */
    height: auto; /* Sets height to 4rem */
    background-color: #D9D9D9; /* Sets background color */
    margin-bottom: 1rem; /* Adds margin at the bottom */
    padding-bottom: 1rem;
    border-radius: 50px; /* Adds rounded corners to the border */
    border: 6px solid var(--green); /* Sets border */
    transition: .2s color, .2s background-color; /* Adds transition effect */
    display: inline-block; /* Sets display to inline-block */
    text-align: left; /* Aligns text to the left */
}

/* Styling for heading level 1 within school pods */
#school_pod h1 {
    font-size: 24px; /* Sets font size to 24px */
    margin-left: 3%; /* Adds margin from the left */
    align-self: center; /* Aligns self to center */
    display: inline-flex; /* Sets display to inline-flex */
}

/* Styling for buttons within school pods */
#school-pod-buttons {
    float: right; /* Floats buttons to the right */
    padding-top: 6px; /* Adds padding at the top */
    margin-right: 1rem;
}

/* Styling for the "New School" input */
#new-school {
    border: 3px solid var(--green); /* Sets border */
    border-radius: 30px; /* Adds rounded corners to the border */
    width: 40%; /* Sets width to 40% */
    height: 20%; /* Sets height to 20% */
}

/* Styling for the list of schools in the school management */
#school-management-list {
    width: 100%; /* Sets width to 100% */
    text-align: center; /* Aligns text to the center */
}

/* Styling for the input field within the school management */
#school-input {
    border: 3px solid var(--green); /* Sets border */
    border-radius: 30px; /* Adds rounded corners to the border */
    width: 50%; /* Sets width to 50% */
    height: 25%; /* Sets height to 25% */
}