#add_school {
    margin-left:30%;
    position:absolute;
    margin-top:2.4%;
    width:15%;
    height:40%;
    background-color: var(--green);
    border-radius: 40px;
    border:3px solid var(--green);
    font-size:20px;
}


#back_button_school {
    position:absolute;
    margin-left:-42%;
    margin-top:2.4%;
    width:15%;
    height:40%;
    background-color: var(--green);
    border-radius: 40px;
    border:3px solid var(--green);
    font-size:20px;
}


#school_pod {
   width:80%;
   height:4rem;
   background-color: #D9D9D9;

   margin-bottom: 1.5%;

   border-radius: 50px;
   border: 6px solid var(--green);

   transition: .2s color, .2s background-color;   

   display: inline-block;
   text-align: left;
}

#school_pod:hover {
    background-color: var(--darkblue);
    color: white;
    transform:scale(1.05)
}

#school_pod h1 {
	/*font-size: min(2.5em, calc(2.5vw*1.5));*/
    font-size:24px;
	margin-left:3%;
    align-self:center;  
    display:inline-flex;  
}

#school-pod-buttons {
    float: right;
    padding-top:9px;
}

#school_pod button {
    height: max(2rem, 4vw);
    background-color: white;
    border-radius:40px;
    border: 3px solid var(--green);
    display: inline-block;

    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#school_pod:hover button:hover {
    background-color: var(--green);
    color: white;
}


#new-school{
    border:3px solid var(--green);
    border-radius:30px;
    width:40%;
    height:20%;
}

#school-management-list {
    width: 100%;
    text-align: center;
}

#school-input {
    border: 3px solid var(--green);
    border-radius:30px;
    width:50%;
    height:25%;
}