/* Edits: (04/05/2024) Gavin T. Anderson */

/* Styling for the image container */
.top-right-image {
    position: fixed; /* Sets position to fixed */
    top: 30px; /* Positions the image 30px from the top */
    right: 30px; /* Positions the image 30px from the right */
    width: 50px; /* Sets width to 50px */
    height: auto; /* Maintains aspect ratio */
    z-index: 9000; /* Sets the stacking order */
    cursor: pointer; /* Changes cursor to pointer on hover */
}